<div class="row text-center">

	<% @questions.each do |question| %>
	
		<h4><%= question.text %></h4>
		<div class="btn-group"> 
			<% question.answer_choices.each do |choice| %>
				<div class="btn btn-default col-xs-6 col-sm-3"><%= choice.text%></div>
			<% end %>
		</div>
	<%end%>

</div>