<img src="http://www.texterritory.com/files/9913/3734/3298/sheron_dance.jpg" width="767">

<div>

	<style type="text/css"><!-- #htmltagcloud{

		font-size: 100%;
		width: auto;
		font-family:'lucida grande','trebuchet ms',arial,helvetica,sans-serif;
		background-color:#fff;
		margin:1em 1em 0 1em;
		padding:2em; 

	}#htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}#htmltagcloud a:link{text-decoration:none}#htmltagcloud a:visited{text-decoration:none}#htmltagcloud a:active{color:white;background-color:#03d}.wrd{padding:0;position:relative}.wrd a{text-decoration:none}.tagcloud0{font-size:1.0em;color:#ACC1F3;z-index:10}.tagcloud0 a{color:#ACC1F3}.tagcloud1{font-size:1.4em;color:#ACC1F3;z-index:9}.tagcloud1 a{color:#ACC1F3}.tagcloud2{font-size:1.8em;color:#86A0DC;z-index:8}.tagcloud2 a{color:#86A0DC}.tagcloud3{font-size:2.2em;color:#86A0DC;z-index:7}.tagcloud3 a{color:#86A0DC}.tagcloud4{font-size:2.6em;color:#607EC5;z-index:6}.tagcloud4 a{color:#607EC5}.tagcloud5{font-size:3.0em;color:#607EC5;z-index:5}.tagcloud5 a{color:#607EC5}.tagcloud6{font-size:3.3em;color:#4C6DB9;z-index:4}.tagcloud6 a{color:#4C6DB9}.tagcloud7{font-size:3.6em;color:#395CAE;z-index:3}.tagcloud7 a{color:#395CAE}.tagcloud8{font-size:3.9em;color:#264CA2;z-index:2}.tagcloud8 a{color:#264CA2}.tagcloud9{font-size:4.2em;color:#133B97;z-index:1}.tagcloud9 a{color:#133B97}.tagcloud10{font-size:4.5em;color:#002A8B;z-index:0}.tagcloud10 a{color:#002A8B}.freq{font-size:10pt !important;color:#bbb}#credit{text-align:center;color:#333;margin-bottom:0.6em;font:0.7em 'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif}#credit  -->
	</style>

	<div id="htmltagcloud"> <span id="0" class="wrd tagcloud6"><a href="#tagcloud">adventure</a></span> <span id="1" class="wrd tagcloud3"><a href="#tagcloud">excited</a></span> <span id="2" class="wrd tagcloud6"><a href="#tagcloud">grace</a></span> <span id="3" class="wrd tagcloud6"><a href="#tagcloud">happy</a></span> <span id="4" class="wrd tagcloud3"><a href="#tagcloud">play</a></span> <span id="5" class="wrd tagcloud3"><a href="#tagcloud">sad</a></span> <span id="6" class="wrd tagcloud0"><a href="#tagcloud">travel</a></span> </div>
	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget tincidunt lacus. Maecenas vel ornare lectus. Duis non magna et magna pulvinar tempor in sed tortor. Curabitur sed mollis urna, nec venenatis est. Nunc sollicitudin, est quis mollis interdum, eros elit cursus tellus, </p>
		
		<div class="text-center">
			<% if user_signed_in? %>
				<%= link_to 'Applications', modules_index_path, class: 'btn btn-default' %>&#09;
			<% else %>
				<%= link_to 'Log In', new_user_session_path, class: 'btn btn-default' %>&#09;
			<%end %>
				<%= link_to 'About', {:controller => 'about'}, class: 'btn btn-default' %>
		</div>
		  
			
</div>
