<div class='text-center'>
	<h3>Applications</h3>
	<h5 class='text-left'>This is where the user will have a list of applications for to which he/she can choose from.</h5>
	
	<hr />
	<%= link_to 'Visuals', {:controller => '/visuals'}, class: 'btn btn-default' %>
	<%= link_to 'Textuals', {:controller => '/textuals'}, class: 'btn btn-default' %>
	<hr />
</div>

<h5>The list of applications that the user will be allowed to select are: </h5>
<ul>
	<li>Visuals - where audiences will be asked to pick from a list of pictures</li>
	<li>Audible - where audiences can make their own sounds (from pre-recorded sounds)</li>
	<li>Textual - where audiences can submit their own responses to questions</li>
</ul>
	
