<%= link_to("<< Back to List", {:action => 'index'}) %>

<div class="respone delete">
	<h2>Delete Response</h2>

	<%= form_for(:response, :url => {:action => 'destroy', :id => @response.id}) do |f| %>
		
		<p>Are you sure you want to delete response "<%= @response.input %>"?</p>

		<div class"btn btn-default">
			<%= submit_tag("Delete Response") %>
		</div>

	<% end %>

</div>