<%= link_to("<< Back to List", {:action => 'index'}) %>

<div class="response edit">
	<h2>Update Answer Choice</h2>

	<%= form_for(:answer_choice, :url => {:action => 'update', :id => @answer_choice.id}) do |f| %>
		
		<%= render(:partial => 'form', :locals => {:f => f}) %>

		<div class"btn btn-default">
			<%= submit_tag("Revise Answer Choice") %>
		</div>

	<% end %>

</div>