<%= link_to("<< Back to List", {:action => 'index'}) %>

<div class="choice new">
	<h2>Create Answer Choice</h2>

	<%= form_for(:answer_choice, :url => {:action => 'create'}) do |f| %>
		
		<%= render(:partial => 'form', :locals => {:f => f}) %>

		<div class"btn btn-default">
			<%= submit_tag("Create Choice") %>
		</div>

	<% end %>

</div>