<%= link_to("<< Back to List", {:action => 'index'}) %>

<div class="responses new">
	<h2>Create Response</h2>

	<%= form_for(:response, :url => {:action => 'create'}) do |f| %>
		
		<%= render(:partial => 'form', :locals => {:f => f}) %>

		<div class"btn btn-default">
			<%= submit_tag("Create Question") %>
		</div>

	<% end %>

</div>