<div class="text-center">
	<div class="btn-group">
		<%= link_to "Texterritory", {:controller => 'about', :action => 'texterritory-bio'}, class: 'btn btn-default' %>
		<%= link_to "Artist's Bio", {:controller => 'about'}, class: 'btn btn-default' %>
		<%= link_to "Contact Us", {:controller => 'about', :action => 'contact'}, class: 'btn btn-default' %>
	</div>
</div>