<h3 class="text-center">About</h3>

<hr />
<div class="row">
	<div class="col-md-4"><%= image_tag("sheron.jpg", size: "100", :alt => "sheron")%><h5 class="text-center">Sheron Wray</h5></div>
  <div class="col-md-8">
		<p><b>Sheron Wray</b> is dolor sit amet, consectetur adipiscing elit. Ut semper gravida nibh et bibendum. Aenean euismod mattis turpis, ornare pretium risus tristique ac. Vestibulum nunc metus, vestibulum eu iaculis at, tempus quis lectus. Aenean rhoncus felis et urna pretium rhoncus. Vivamus euismod, dolor ac porttitor dictum, felis massa</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-4"><%= image_tag("fleeta.gif", size: "100", :alt => "sheron")%><h5 class="text-center">Fleeta Siegel</h5></div>
  <div class="col-md-8">
		<p><b>Sheron Wray</b> is dolor sit amet, consectetur adipiscing elit. Ut semper gravida nibh et bibendum. Aenean euismod mattis turpis, ornare pretium risus tristique ac. Vestibulum nunc metus, vestibulum eu iaculis at, tempus quis lectus. Aenean rhoncus felis et urna pretium rhoncus. Vivamus euismod, dolor ac porttitor dictum, felis massa</p>
	</div>
</div>